body {
 color: #333333;
 font-family: arial;
 max-width: 650px;
 margin: 0 auto;
 padding: 0 16px;
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}


.main-content{
    flex-grow: 1;
}
footer{
    color : #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header{
    
    margin: 16px 0 16px 0 ;
}

header h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    text-decoration: none;
    color: #888888;
    margin-right: 16px;
}
.myImage{
    width: 250px;
}

p {
    color: #333333;
    font-size: 1.3em;
}

form input{
    border: 1px solid  #333333;
    color:  #33333e;
    padding: 5px 8px;
    width: 200px;
    font-size: 1.2em;
}
::placeholder {
    color: #333333;
    
  }

  -ms-::placeholder {
    color: #333333;
    
  }
  
form button{
    color: white;
    border: 1px solid #333333;
    font-size: 1.2em;
    padding: 5px 8px;
    background-color: #333333;
}
