<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <meta charset="utf-8">
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        
        
        {{>header}}
        <img class="myImage" src="./img/mypic1.JPG" alt="myimage">
        <h3>{{name}}</h3>
        {{>fotter}}
        

        
    </body>
</html>